@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100;200;300;400;500;600;700&family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *,
  html,
  body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
  }
  html,
  body {
    min-height: 100vh;
    width: 100%;
    background-color: #131222;
  }

  h1 {
    @apply text-[26px] md:text-[34px] lg:text-[42px] xl:text-[50px] max-w-[340px] sm:max-w-[600px] xl:max-w-[850px] text-center text-turquoise font-first font-black leading-[1.1];
  }
  h2 {
    @apply text-[20px] sm:text-[22px] md:text-[28px] lg:text-[35px] text-alice font-second font-semibold;
  }
  h3 {
    @apply text-[17px] sm:text-[19px] md:text-[25px] lg:text-[32px] text-turquoise font-second font-semibold;
  }
  h4 {
    @apply text-[18px] md:text-[20px] lg:text-[24px] text-alice font-second font-semibold;
  }
  h5 {
    @apply md:text-[20px] lg:text-[22px] text-alice font-second font-semibold;
  }
  h6 {
    @apply text-[16px] lg:text-[18px] text-alice font-first font-normal;
  }
  a {
    @apply text-[16px] sm:text-[18px] lg:text-[20px] text-alice hover:text-turquoise duration-500 font-first font-semibold;
  }
  p {
    @apply text-[14px] md:text-[16px] text-alice font-first font-normal;
  }
  header {
    @apply bg-cadet drop-shadow-[0px_1px_4px_rgba(0,0,0,0.5)] md:drop-shadow-[0px_2px_3px_rgba(0,0,0,0.5)] w-full fixed top-0 py-3 md:py-4 z-50;
  }
  .no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
}

@layer components {
  .title {
    @apply sm:text-[44px] md:text-[54px] lg:text-[64px] xl:text-[80px] text-center text-alice font-second font-bold leading-[1.2];
  }
}
